<h1>Welcome#indexcringe</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p style="font-size:100px"><%= @dumb %></h2>
<%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
<%= react_component("HelloWorld", {greeting: "Hello from react-rails."}) %>